/*display modifiers*/
.hidden{
    display: none !important;
}

/* TEXT */

.title{
    font-size: 24px;

    @include mq-screen-large{
        font-size: initial;
    }
}

/*HERO SECTION*/

#site-wrapper{

    #site-hero{
        background-image: none;
        background-position: 185% 10%;
        background-size: 400px;
        // overflow-x: hidden;

        &::before{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba($color: #FFF, $alpha: .45);
        }

        @include mq-mobile-medium{
            background-size: 600px;
            background-position: 120% 10%;
        }

        @include mq-tablet{
            background-position: 100% 30%;

            &::before{
                background-color: transparent;
            }
        }

        @include mq-screen-large{ 
            background-image: url(../images/hero_01.png);
           
            background-size: 765px;
            background-position: 92% 35%;           
        }
    }

    .pr__hero__wrap{

        .pr__header{
            position: relative;

            .logo-container{
                position: absolute;
                width: 320px;
                left: 0;
                top: 50%;
                height: 45px;
                transform: translateY(-50%);    
                margin: 0;
                padding: 0;

                @include mq-mobile-medium{
                    height: 55px;
                    width: 400px;
                }

                @include mq-tablet{
                    width: 420px;
                }

                @include mq-screen-small{
                    width: 650px;
                    height: 60px;
                }

                @include mq-screen-large{
                    width: 800px;
                    height: 65px;
                }

                @include mq-screen-xl{
                    width: 800px;
                    height: 65px;
                }

                &::before{
                    content: "";
                    width: 100%;
                    height: 100%;
                    display: block;

                    background-image: url(../images/brand/ISF-weblogo-black-txt-800x56.svg);
                    background-position: -120px center;
                    background-size: contain;
                    background-repeat: no-repeat;

                    @include mq-mobile-medium{
                        background-position: -160px center;
                    }

                    @include mq-tablet{
                        background-position: -150px center;
                    }

                    @include mq-screen-small{
                        background-position: -250px center;
                    }

                    @include mq-screen-large{
                        background-position: -200px center;
                    }

                    @include mq-screen-xl{
                        background-position: -80px center;
                    }
                }
            }           
        }       
    }
}

/* SERVICES SECTION */
#pr__services{
    .services-boxes{

        .service-box{  

            .link{
                pointer-events: none;
            }

            .title{
                visibility: visible;
                top: initial;
                transition: top .2s ease-in-out, visibility .2s ease-in-out, opacity .2s ease-in-out;
            }

            .service-box__description{
                position: absolute;
                bottom: 0;
                left: 60px;
                box-sizing: border-box;
                padding-right: 85px;
                color: white;
                display: block;
                opacity: 0;
                width: 100%;
                line-height: 110%;
                visibility: hidden;
                transition: bottom .3s ease-in-out;
            }

            &:hover{
                .title{
                    top: -150px;
                    visibility: hidden;
                    opacity: 0;
                    color: initial;
                    // display: none;
                }

                .service-box__description{   
                    box-sizing: border-box;
                    transform: translateY(50%); 
                    bottom: 50%;      
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}

/* CLIENT TESTIMONIALS SECTION */
#pr__clients{
    .splide-clients{
        .description{
            font-size: 19px;
        }
    }
}


/* REFERENCE LOGOS SECTION */
#competencies-section{
    width: 100%;
    padding: 45px 0;

    .section-heading{
        margin-bottom: 60px;

        .title {
            margin: 20px 0 0;
        }
    }

    .splide-logos{
        // overflow: hidden;
        // padding: 0 12px;

        .splide__track{
            .splide__list{
                // display: flex;
                // flex-direction: row;
                // justify-content: flex-start;
                // align-items: center;
                // height: 120px;

                .splide__slide{
                    list-style: none;
                    width: 145px;
                    height: auto;    
                    text-align: center;
                    opacity: .65;
                    filter: grayscale(1);
                    transition: filter .3s ease-in-out, opacity .3s ease-in-out;
                    
                    &:hover{
                        filter: grayscale(0);
                        opacity: 1;
                    }

                    img{
                        display: block;
                        width: auto;
                        height: auto;
                        max-height: 65px;
                        max-width: 65px;
                        margin: 0 auto;

                    }
                }
            }
        }
    }
}


// OLD
// #pr__clients__logos{

//     .item{
//         &.logo{
//             height: 120px;
//             width: 120px;
//             .inner{
//                 img{
//                     display: block;
//                     width: 65px;
//                     height: auto;
//                     margin: 0 auto;
//                     filter: grayscale(1);
//                     opacity: .65;
//                     transition: all .3s ease-in-out;
//                 }

//                 &:hover{
//                     img{
//                         filter: grayscale(0);
//                         opacity: 1;
//                     }
//                 }

//                 p{
//                     margin-top: 8px;
//                     margin-bottom: 0;
//                 }
//             }
//         }
//     }
// }